In [13]:
import numpy as np 
import pandas as pd 
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import csv

# Open the CSV file using the csv module
with open('Environment_Temperature_change_E_All_Data_NOFLAG.csv', mode='r') as file:
    csv_reader = csv.reader(file)
    
    # Skip the header row
    header = next(csv_reader, None)
    
    # Load the data from csv_reader into a list
    data = [row for row in csv_reader]

# Convert the list to a Pandas DataFrame
df = pd.DataFrame(data, columns=header)

# Display the first few rows
print(df.head())

  Area Code         Area Months Code    Months Element Code  \
0         2  Afghanistan        7001   January         7271
1         2  Afghanistan        7001   January         6078
2         2  Afghanistan        7002  February         7271
3         2  Afghanistan        7002  February         6078
4         2  Afghanistan        7003     March         7271

              Element Unit      Y1961     Y1962     Y1963  ...     Y2010  \
0  Temperature change   °C   0.777000  0.062000  2.744000  ...  3.601000
1  Standard Deviation   °C   1.950000  1.950000  1.950000  ...  1.950000
2  Temperature change   °C  -1.743000  2.465000  3.919000  ...  1.212000
3  Standard Deviation   °C   2.597000  2.597000  2.597000  ...  2.597000
4  Temperature change   °C   0.516000  1.336000  0.403000  ...  3.390000

      Y2011      Y2012     Y2013      Y2014      Y2015     Y2016      Y2017  \
0  1.179000  -0.583000  1.233000   1.755000   1.943000  3.416000   1.201000
1  1.950000   1.950000  1.950000   1.950000   1.950000  1.950000   1.950000
2  0.321000  -3.201000  1.494000  -3.187000   2.699000  2.251000  -0.323000
3  2.597000   2.597000  2.597000   2.597000   2.597000  2.597000   2.597000
4  0.748000  -0.527000  2.246000  -0.076000  -0.497000  2.296000   0.834000

      Y2018     Y2019
0  1.996000  2.951000
1  1.950000  1.950000
2  2.705000  0.086000
3  2.597000  2.597000
4  4.418000  0.234000

[5 rows x 66 columns]

In [15]:
# Open the CSV file using the csv module
with open('FAOSTAT_data_11-24-2020 (2).csv', mode='r') as file:
    csv_reader = csv.reader(file)
    
    # Skip the header row
    header = next(csv_reader, None)
    
    # Load the data from csv_reader into a list
    data1 = [row for row in csv_reader]

In [56]:
import pandas as pd

def create_meteorological_year(df):
    # Extract the available years from the column names (e.g., 'Y1960')
    years = [col for col in df.columns if col.startswith('Y')]

    meteo_year_data = pd.DataFrame()

    for i in range(len(years) - 1):
        # Get current and next year (excluding 'Y')
        year = years[i][1:]  # Get the year as a string, removing 'Y'
        next_year = years[i + 1][1:]  # Next year for the November cutoff
        
        # Extract December of the previous year
        dec_prev_year = df[df['Months'] == 'December'][f'Y{year}']
        
        # Extract January to November of the current year
        jan_to_nov_current_year = df[df['Months'].isin(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November'])][f'Y{next_year}']

        # Concatenate the December and the rest of the months
        meteo_year = pd.concat([dec_prev_year.reset_index(drop=True), jan_to_nov_current_year.reset_index(drop=True)], axis=0)

        # Add the reorganized year to a new DataFrame
        meteo_year_data[f'Meteorological Year {next_year}'] = meteo_year.reset_index(drop=True)

    return meteo_year_data

# Usage Example
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')
meteo_data = create_meteorological_year(df)

# Display or save the output
print(meteo_data)

      Meteorological Year 1962  Meteorological Year 1963  \
0                        0.600                    -0.721
1                        1.516                     1.516
2                       -0.321                    -2.019
3                        1.229                     1.229
4                        0.906                    -0.303
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.765                     1.305
6813                     0.635                     0.635
6814                     0.668                     0.429
6815                     0.435                     0.435

      Meteorological Year 1964  Meteorological Year 1965  \
0                       -0.603                    -3.636
1                        1.516                     1.516
2                        0.884                     0.450
3                        1.229                     1.229
4                        1.938                    -0.706
...                        ...                       ...
6811                     0.322                     0.322
6812                    -0.355                    -0.092
6813                     0.635                     0.635
6814                    -0.003                     0.111
6815                     0.435                     0.435

      Meteorological Year 1966  Meteorological Year 1967  \
0                       -1.115                    -0.327
1                        1.516                     1.516
2                        0.972                    -0.563
3                        1.229                     1.229
4                        0.537                    -0.877
...                        ...                       ...
6811                     0.322                     0.322
6812                    -0.556                     0.517
6813                     0.635                     0.635
6814                    -0.564                     0.273
6815                     0.435                     0.435

      Meteorological Year 1968  Meteorological Year 1969  \
0                       -0.347                     0.056
1                        1.516                     1.516
2                       -0.474                    -0.655
3                        1.229                     1.229
4                       -1.709                     0.279
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.477                     0.042
6813                     0.635                     0.635
6814                     0.099                     0.138
6815                     0.435                     0.435

      Meteorological Year 1970  Meteorological Year 1971  ...  \
0                        1.985                    -0.186  ...
1                        1.516                     1.516  ...
2                       -0.885                     0.011  ...
3                        1.229                     1.229  ...
4                       -1.065                     0.045  ...
...                        ...                       ...  ...
6811                     0.322                     0.322  ...
6812                    -0.181                     0.482  ...
6813                     0.635                     0.635  ...
6814                     0.031                    -0.657  ...
6815                     0.435                     0.435  ...

      Meteorological Year 2010  Meteorological Year 2011  \
0                        0.950                    -0.154
1                        1.516                     1.516
2                        1.902                     0.453
3                        1.229                     1.229
4                        3.185                     2.768
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.964                     1.117
6813                     0.635                     0.635
6814                     1.088                     0.882
6815                     0.435                     0.435

      Meteorological Year 2012  Meteorological Year 2013  \
0                       -1.789                    -0.467
1                        1.516                     1.516
2                        0.703                    -0.831
3                        1.229                     1.229
4                        0.421                     0.771
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.544                     1.321
6813                     0.635                     0.635
6814                     0.741                     0.326
6815                     0.435                     0.435

      Meteorological Year 2014  Meteorological Year 2015  \
0                       -0.216                     0.005
1                        1.516                     1.516
2                       -0.035                     1.106
3                        1.229                     1.229
4                        0.041                     0.018
...                        ...                       ...
6811                     0.322                     0.322
6812                     1.675                     1.658
6813                     0.635                     0.635
6814                     0.357                     2.063
6815                     0.435                     0.435

      Meteorological Year 2016  Meteorological Year 2017  \
0                        0.048                     3.429
1                        1.516                     1.516
2                        0.509                    -0.872
3                        1.229                     1.229
4                        1.056                     1.815
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.916                     1.413
6813                     0.635                     0.635
6814                     2.353                     0.878
6815                     0.435                     0.435

      Meteorological Year 2018  Meteorological Year 2019
0                        0.441                     1.311
1                        1.516                     1.516
2                        0.476                     0.040
3                        1.229                     1.229
4                       -0.081                     1.255
...                        ...                       ...
6811                     0.322                     0.322
6812                     0.622                     1.127
6813                     0.635                     0.635
6814                     0.364                     1.030
6815                     0.435                     0.435

[6816 rows x 58 columns]

In [50]:
import pandas as pd

def get_dec_jan_feb_data(df):
    # Extract the available years from the column names (e.g., 'Y1960')
    years = [col for col in df.columns if col.startswith('Y')]

    dec_jan_feb_data = pd.DataFrame()

    for i in range(len(years) - 1):
        # Get current and next year (excluding 'Y')
        year = years[i][1:]  # Get the year as a string, removing 'Y'
        next_year = years[i + 1][1:]  # Next year for Jan and Feb

        # Extract December of the current year
        dec_current_year = df[df['Months'] == 'December'][f'Y{year}']

        # Extract January and February of the next year
        jan_feb_next_year = df[df['Months'].isin(['January', 'February'])][f'Y{next_year}']

        # Concatenate December and January-February data
        dec_jan_feb = pd.concat([dec_current_year.reset_index(drop=True), jan_feb_next_year.reset_index(drop=True)], axis=0)

        # Add the data to the result DataFrame, labeled by the next year (for Jan-Feb context)
        dec_jan_feb_data[f'Dec-Jan-Feb {next_year}'] = dec_jan_feb.reset_index(drop=True)

    return dec_jan_feb_data

# Usage Example
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')
dec_jan_feb_data = get_dec_jan_feb_data(df)

# Display or save the output
print(dec_jan_feb_data)

      Dec-Jan-Feb 1962  Dec-Jan-Feb 1963  Dec-Jan-Feb 1964  Dec-Jan-Feb 1965  \
0                0.600            -0.721            -0.603            -3.636
1                1.516             1.516             1.516             1.516
2               -0.321            -2.019             0.884             0.450
3                1.229             1.229             1.229             1.229
4                0.906            -0.303             1.938            -0.706
...                ...               ...               ...               ...
1699             0.493             0.493             0.493             0.493
1700            -0.168            -0.906             0.532             0.176
1701             0.583             0.583             0.583             0.583
1702            -0.342            -0.018             0.125            -1.068
1703             0.930             0.930             0.930             0.930

      Dec-Jan-Feb 1966  Dec-Jan-Feb 1967  Dec-Jan-Feb 1968  Dec-Jan-Feb 1969  \
0               -1.115            -0.327            -0.347             0.056
1                1.516             1.516             1.516             1.516
2                0.972            -0.563            -0.474            -0.655
3                1.229             1.229             1.229             1.229
4                0.537            -0.877            -1.709             0.279
...                ...               ...               ...               ...
1699             0.493             0.493             0.493             0.493
1700            -1.441             0.452            -0.355            -0.141
1701             0.583             0.583             0.583             0.583
1702            -0.013            -0.926            -0.015             0.349
1703             0.930             0.930             0.930             0.930

      Dec-Jan-Feb 1970  Dec-Jan-Feb 1971  ...  Dec-Jan-Feb 2010  \
0                1.985            -0.186  ...             0.950
1                1.516             1.516  ...             1.516
2               -0.885             0.011  ...             1.902
3                1.229             1.229  ...             1.229
4               -1.065             0.045  ...             3.185
...                ...               ...  ...               ...
1699             0.493             0.493  ...             0.493
1700            -0.462            -0.398  ...             1.451
1701             0.583             0.583  ...             0.583
1702             0.484             0.235  ...             1.717
1703             0.930             0.930  ...             0.930

      Dec-Jan-Feb 2011  Dec-Jan-Feb 2012  Dec-Jan-Feb 2013  Dec-Jan-Feb 2014  \
0               -0.154            -1.789            -0.467            -0.216
1                1.516             1.516             1.516             1.516
2                0.453             0.703            -0.831            -0.035
3                1.229             1.229             1.229             1.229
4                2.768             0.421             0.771             0.041
...                ...               ...               ...               ...
1699             0.493             0.493             0.493             0.493
1700             1.463             1.582             1.730             1.928
1701             0.583             0.583             0.583             0.583
1702             0.257             1.672             1.340             0.455
1703             0.930             0.930             0.930             0.930

      Dec-Jan-Feb 2015  Dec-Jan-Feb 2016  Dec-Jan-Feb 2017  Dec-Jan-Feb 2018  \
0                0.005             0.048             3.429             0.441
1                1.516             1.516             1.516             1.516
2                1.106             0.509            -0.872             0.476
3                1.229             1.229             1.229             1.229
4                0.018             1.056             1.815            -0.081
...                ...               ...               ...               ...
1699             0.493             0.493             0.493             0.493
1700             1.521             2.535             2.446             1.962
1701             0.583             0.583             0.583             0.583
1702             0.408             2.720             2.398             0.760
1703             0.930             0.930             0.930             0.930

      Dec-Jan-Feb 2019
0                1.311
1                1.516
2                0.040
3                1.229
4                1.255
...                ...
1699             0.493
1700             1.744
1701             0.583
1702             0.650
1703             0.930

[1704 rows x 58 columns]

In [51]:
import pandas as pd

def get_mar_apr_may_data(df):
    # Extract the available years from the column names (e.g., 'Y1960')
    years = [col for col in df.columns if col.startswith('Y')]

    mar_apr_may_data = pd.DataFrame()

    for year in years:
        # Extract March, April, and May of the current year
        mar_apr_may = df[df['Months'].isin(['March', 'April', 'May'])][year]

        # Add the data to the result DataFrame, labeled by the year
        mar_apr_may_data[f'Mar-Apr-May {year[1:]}'] = mar_apr_may.reset_index(drop=True)

    return mar_apr_may_data

# Usage Example
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')
mar_apr_may_data = get_mar_apr_may_data(df)

# Display or save the output
print(mar_apr_may_data)

      Mar-Apr-May 1961  Mar-Apr-May 1962  Mar-Apr-May 1963  Mar-Apr-May 1964  \
0                0.516             1.336             0.403             1.659
1                1.512             1.512             1.512             1.512
2               -1.709             0.117             0.919            -0.533
3                1.406             1.406             1.406             1.406
4                1.412            -0.092            -0.690            -0.160
...                ...               ...               ...               ...
1699             0.677             0.677             0.677             0.677
1700            -0.029            -0.054             0.423            -0.307
1701             0.411             0.411             0.411             0.411
1702            -0.290            -0.320             0.135             0.128
1703             0.383             0.383             0.383             0.383

      Mar-Apr-May 1965  Mar-Apr-May 1966  Mar-Apr-May 1967  Mar-Apr-May 1968  \
0               -0.909            -0.069            -0.759             0.496
1                1.512             1.512             1.512             1.512
2               -1.816            -1.192            -1.496            -0.590
3                1.406             1.406             1.406             1.406
4               -0.190            -0.192            -1.307            -1.841
...                ...               ...               ...               ...
1699             0.677             0.677             0.677             0.677
1700             0.020            -0.375            -0.394             0.314
1701             0.411             0.411             0.411             0.411
1702             0.061            -0.283            -0.369            -0.630
1703             0.383             0.383             0.383             0.383

      Mar-Apr-May 1969  Mar-Apr-May 1970  ...  Mar-Apr-May 2010  \
0                2.481            -0.915  ...             3.390
1                1.512             1.512  ...             1.512
2               -0.770             1.439  ...             2.591
3                1.406             1.406  ...             1.406
4               -0.977             1.864  ...             1.419
...                ...               ...  ...               ...
1699             0.677             0.677  ...             0.677
1700             0.352            -0.389  ...             2.391
1701             0.411             0.411  ...             0.411
1702             0.120            -0.368  ...             0.687
1703             0.383             0.383  ...             0.383

      Mar-Apr-May 2011  Mar-Apr-May 2012  Mar-Apr-May 2013  Mar-Apr-May 2014  \
0                0.748            -0.527             2.246            -0.076
1                1.512             1.512             1.512             1.512
2                1.712             1.417            -0.052             0.585
3                1.406             1.406             1.406             1.406
4                3.643             0.909             1.201             0.959
...                ...               ...               ...               ...
1699             0.677             0.677             0.677             0.677
1700             0.405             1.248            -0.036             0.806
1701             0.411             0.411             0.411             0.411
1702             0.229             1.133             0.717             1.179
1703             0.383             0.383             0.383             0.383

      Mar-Apr-May 2015  Mar-Apr-May 2016  Mar-Apr-May 2017  Mar-Apr-May 2018  \
0               -0.497             2.296             0.834             4.418
1                1.512             1.512             1.512             1.512
2                1.589             0.980             1.252             1.442
3                1.406             1.406             1.406             1.406
4                1.862             3.246             3.280             0.855
...                ...               ...               ...               ...
1699             0.677             0.677             0.677             0.677
1700             0.904             1.470             1.043             0.636
1701             0.411             0.411             0.411             0.411
1702             0.952             1.664             1.068             1.596
1703             0.383             0.383             0.383             0.383

      Mar-Apr-May 2019
0                0.234
1                1.512
2                0.899
3                1.406
4                0.647
...                ...
1699             0.677
1700             1.228
1701             0.411
1702             0.728
1703             0.383

[1704 rows x 59 columns]

In [52]:
import pandas as pd

def get_jun_jul_aug_data(df):
    # Extract the available years from the column names (e.g., 'Y1960')
    years = [col for col in df.columns if col.startswith('Y')]

    jun_jul_aug_data = pd.DataFrame()

    for year in years:
        # Extract June, July, and August of the current year
        jun_jul_aug = df[df['Months'].isin(['June', 'July', 'August'])][year]

        # Add the data to the result DataFrame, labeled by the year
        jun_jul_aug_data[f'Jun-Jul-Aug {year[1:]}'] = jun_jul_aug.reset_index(drop=True)

    return jun_jul_aug_data

# Usage Example
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')
jun_jul_aug_data = get_jun_jul_aug_data(df)

# Display or save the output
print(jun_jul_aug_data)

      Jun-Jul-Aug 1961  Jun-Jul-Aug 1962  Jun-Jul-Aug 1963  Jun-Jul-Aug 1964  \
0               -0.058            -1.061             1.164            -0.519
1                0.930             0.930             0.930             0.930
2                0.884             0.292             0.348            -0.142
3                0.585             0.585             0.585             0.585
4                0.391            -0.220             0.094             0.671
...                ...               ...               ...               ...
1699             0.276             0.276             0.276             0.276
1700            -0.112            -0.181             0.012             0.239
1701             0.343             0.343             0.343             0.343
1702             0.064             0.130             0.036            -0.361
1703             0.322             0.322             0.322             0.322

      Jun-Jul-Aug 1965  Jun-Jul-Aug 1966  Jun-Jul-Aug 1967  Jun-Jul-Aug 1968  \
0               -0.422             1.274            -0.722             0.292
1                0.930             0.930             0.930             0.930
2                0.116            -0.267             0.332            -0.256
3                0.585             0.585             0.585             0.585
4               -0.686             0.049             0.055            -0.155
...                ...               ...               ...               ...
1699             0.276             0.276             0.276             0.276
1700            -0.762             0.104            -0.253            -0.500
1701             0.343             0.343             0.343             0.343
1702            -0.366            -0.296            -0.079            -0.772
1703             0.322             0.322             0.322             0.322

      Jun-Jul-Aug 1969  Jun-Jul-Aug 1970  ...  Jun-Jul-Aug 2010  \
0               -0.270             0.544  ...             0.594
1                0.930             0.930  ...             0.930
2               -0.024            -0.534  ...             0.494
3                0.585             0.585  ...             0.585
4               -0.442             1.867  ...             0.587
...                ...               ...  ...               ...
1699             0.276             0.276  ...             0.276
1700             0.175             0.068  ...             1.164
1701             0.343             0.343  ...             0.343
1702             0.419             0.219  ...             1.084
1703             0.322             0.322  ...             0.322

      Jun-Jul-Aug 2011  Jun-Jul-Aug 2012  Jun-Jul-Aug 2013  Jun-Jul-Aug 2014  \
0                2.450             0.305             1.924             1.492
1                0.930             0.930             0.930             0.930
2                0.532             0.973             1.126             0.671
3                0.585             0.585             0.585             0.585
4                1.930             1.356             0.886             0.706
...                ...               ...               ...               ...
1699             0.276             0.276             0.276             0.276
1700             1.005             1.104             0.935             0.807
1701             0.343             0.343             0.343             0.343
1702             1.277             1.143             1.169             0.743
1703             0.322             0.322             0.322             0.322

      Jun-Jul-Aug 2015  Jun-Jul-Aug 2016  Jun-Jul-Aug 2017  Jun-Jul-Aug 2018  \
0                1.289             1.586             2.002             1.786
1                0.930             0.930             0.930             0.930
2                1.092             1.079             0.901             1.815
3                0.585             0.585             0.585             0.585
4                0.589             0.311             0.102             0.982
...                ...               ...               ...               ...
1699             0.276             0.276             0.276             0.276
1700             0.751             1.251             1.227             1.449
1701             0.343             0.343             0.343             0.343
1702             0.900             1.175             0.971             0.854
1703             0.322             0.322             0.322             0.322

      Jun-Jul-Aug 2019
0               -0.289
1                0.930
2                1.885
3                0.585
4                0.773
...                ...
1699             0.276
1700             1.187
1701             0.343
1702             1.034
1703             0.322

[1704 rows x 59 columns]

In [53]:
import pandas as pd

def get_sep_oct_nov_data(df):
    # Extract the available years from the column names (e.g., 'Y1960')
    years = [col for col in df.columns if col.startswith('Y')]

    sep_oct_nov_data = pd.DataFrame()

    for year in years:
        # Extract September, October, and November of the current year
        sep_oct_nov = df[df['Months'].isin(['September', 'October', 'November'])][year]

        # Add the data to the result DataFrame, labeled by the year
        sep_oct_nov_data[f'Sep-Oct-Nov {year[1:]}'] = sep_oct_nov.reset_index(drop=True)

    return sep_oct_nov_data

# Usage Example
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')
sep_oct_nov_data = get_sep_oct_nov_data(df)

# Display or save the output
print(sep_oct_nov_data)

      Sep-Oct-Nov 1961  Sep-Oct-Nov 1962  Sep-Oct-Nov 1963  Sep-Oct-Nov 1964  \
0                1.445            -1.797             0.163            -0.253
1                0.832             0.832             0.832             0.832
2               -1.102            -0.968             1.654            -2.839
3                1.310             1.310             1.310             1.310
4               -0.540            -2.171             0.584            -0.574
...                ...               ...               ...               ...
1699             0.322             0.322             0.322             0.322
1700             0.090             0.765             1.305            -0.355
1701             0.635             0.635             0.635             0.635
1702            -0.023             0.668             0.429            -0.003
1703             0.435             0.435             0.435             0.435

      Sep-Oct-Nov 1965  Sep-Oct-Nov 1966  Sep-Oct-Nov 1967  Sep-Oct-Nov 1968  \
0               -0.661            -0.403             0.583            -0.269
1                0.832             0.832             0.832             0.832
2                2.211            -0.428            -0.800            -0.611
3                1.310             1.310             1.310             1.310
4                1.820            -2.574             1.245             0.471
...                ...               ...               ...               ...
1699             0.322             0.322             0.322             0.322
1700            -0.092            -0.556             0.517             0.477
1701             0.635             0.635             0.635             0.635
1702             0.111            -0.564             0.273             0.099
1703             0.435             0.435             0.435             0.435

      Sep-Oct-Nov 1969  Sep-Oct-Nov 1970  ...  Sep-Oct-Nov 2010  \
0               -0.847             0.005  ...             0.030
1                0.832             0.832  ...             0.832
2                1.103             0.542  ...             2.927
3                1.310             1.310  ...             1.310
4               -0.742             0.881  ...             0.975
...                ...               ...  ...               ...
1699             0.322             0.322  ...             0.322
1700             0.042            -0.181  ...             0.964
1701             0.635             0.635  ...             0.635
1702             0.138             0.031  ...             1.088
1703             0.435             0.435  ...             0.435

      Sep-Oct-Nov 2011  Sep-Oct-Nov 2012  Sep-Oct-Nov 2013  Sep-Oct-Nov 2014  \
0                1.408             0.495             2.586             2.268
1                0.832             0.832             0.832             0.832
2                1.339             0.827             1.691             1.134
3                1.310             1.310             1.310             1.310
4                1.000             1.042             0.975            -0.403
...                ...               ...               ...               ...
1699             0.322             0.322             0.322             0.322
1700             1.117             0.544             1.321             1.675
1701             0.635             0.635             0.635             0.635
1702             0.882             0.741             0.326             0.357
1703             0.435             0.435             0.435             0.435

      Sep-Oct-Nov 2015  Sep-Oct-Nov 2016  Sep-Oct-Nov 2017  Sep-Oct-Nov 2018  \
0                0.172             3.016             0.930             1.063
1                0.832             0.832             0.832             0.832
2                1.894             0.792             2.092            -0.103
3                1.310             1.310             1.310             1.310
4                0.512            -1.345             2.089             0.882
...                ...               ...               ...               ...
1699             0.322             0.322             0.322             0.322
1700             1.658             0.916             1.413             0.622
1701             0.635             0.635             0.635             0.635
1702             2.063             2.353             0.878             0.364
1703             0.435             0.435             0.435             0.435

      Sep-Oct-Nov 2019
0                2.004
1                0.832
2                1.264
3                1.310
4               -1.051
...                ...
1699             0.322
1700             1.127
1701             0.635
1702             1.030
1703             0.435

[1704 rows x 59 columns]

In [57]:
csv_file_path = 'sep_oct_nov_data.csv'
sep_oct_nov_data.to_csv(csv_file_path, index=False)

csv_file_path

'sep_oct_nov_data.csv'

In [59]:
csv_file_path = 'jun_jul_aug_data.csv'
jun_jul_aug_data.to_csv(csv_file_path, index=False)

csv_file_path

'jun_jul_aug_data.csv'

In [ ]:
csv_file_path = 'jun_jul_aug_data.csv'
sep_oct_nov_data.to_csv(csv_file_path, index=False)

csv_file_path

In [61]:
csv_file_path = 'meteo_data.csv'
meteo_data.to_csv(csv_file_path, index=False)

csv_file_path

'meteo_data.csv'

In [60]:
csv_file_path = 'dec_jan_feb_data.csv'
dec_jan_feb_data.to_csv(csv_file_path, index=False)

csv_file_path

'dec_jan_feb_data.csv'